/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

.table{
  position: absolute;
  bottom:0;
  width:100%;
  height:30%;
  background-color: #3b6c92
}

.background{
 position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    background-color: #dab032;
}

.book-t{
 position: absolute;
    width: 33%;
    height: 7%;
    bottom: 27%;
    left: 16%;
    background-color: #c7dcae;
}
.book-t-b{
     position: absolute;
    width: 36%;
    height: 2%;
    bottom: 34%;
    left: 14%;
    background-color: #4CAF50;
}
.book-t-t{
    position: absolute;
    width: 36%;
    height: 2%;
    bottom: 25%;
    left: 14%;
    background-color: #4baf51;
}

.bottle{
       position: absolute;
    border-radius: 11%;
    background: red;
    padding: 3%;
    width: 1%;
    height: 26%;
    top: 44%;
    left: 76%;
    background-color: #FFEB3B;
}

.bottle-cap{
    position: absolute;
    border-radius: 11%;
    background: red;
    padding: 2%;
    width: 2%;
    height: 0%;
    top: 37%;
    left: 76.5%;
    background-color: #F44336;
}


/* Your CSS goes here */
