/*
  Coding from Life – Sketch 1: fixed layout

  For sketch 1 you'll be positioning elements relative to an element with a fixed
  width and height. For this sketch you can position elements by using pixel values.
*/

body {
  background-color: black;
}

.frame {
  width: 1000px;
  height: 600px;
  background: white;
  margin: 30px auto;
  position: relative;
}

/* Your CSS goes here */
.table{
	position: absolute;
	bottom: 0px;
	width: 1000px;
	height: 150px;
	background-color: #3b6c92
	}

.cup{
	position: absolute;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 61px;
    height: 209px;
    top: 261px;
    right: 88px;
    background-color: #7ec5bf
}

.cup-lid{
    position: absolute;
    border-radius: 8px;
    background: red;
    padding: 20px;
    width: 46px;
    height: 1px;
    top: 221px;
    right: 96px;
    background-color: #f43636;
}

.candle{
	position: absolute;
    border-radius: 10px;
    background: red;
    padding: 20px;
    width: 7px;
    height: 224px;
    top: 213px;
    left: 96px;
    background-color: #e8d4a5;
    z-index: 1;
}

.egg{
	position: absolute;
    display: block;
    width: 14px;
    height: 43px;
    top: 167px;
    left: 112px;
    background-color: #ff8100;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;  
}

.candle-top{
	position: absolute;
    border-radius: 10px;
    background: red;
    padding: 20px;
    width: 60px;
    height: 125px;
    top: 355px;
    left: 171px;
    background-color: #e2d9c5;
    z-index: 1;
}

.candle-bottom{
	position: absolute;
    border-radius: 10px;
    background: red;
    padding: 20px;
    width: 19px;
    height: 233px;
    top: 195px;
    left: 237px;
    background-color: #e2cb93;
}
.egg-bottom{
	position: absolute;
    display: block;
    width: 10px;
    height: 34px;
    top: 155px;
    left: 262px;
    background-color: #E91E63;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    z-index: 1;
}

.book-t{
	position: absolute;
    width: 329px;
    height: 43px;
    top: 427px;
    right: 266px;
    background-color: #bdbdbd;
    z-index: 1;
}

.book-t-b{
	position: absolute;
    width: 345px;
    height: 12px;
    top: 464px;
    right: 259px;
    background-color: #3a3030;
    z-index: 1;
}

.book-t-t{
    position: absolute;
    width: 345px;
    height: 12px;
    top: 423px;
    right: 260px;
    background-color: #3b2f30;
    z-index: 1;
}













